* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

header {
    width: 100%;
    background-color: #FF6900;
    color: #fff;
    padding: 20px 0;
}

#header-col-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}

.header-col {
    width: calc(100%/3);
    display: flex;
}

.header-col:last-child {
    justify-content: right;
}

.menu-item-left {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    font-weight: bolder;
}

img[alt="logo-boolean"] {
    height: 30px;
    margin: 0 auto;
}

.menu-item-right {
    color: #fff;
    text-decoration: none;
    margin-left: 7px;
    font-weight: bolder;
    text-align: right;
}

/*main*/

main {
    width: 80%;
    margin: 0 auto;
}

section {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.product {
    width: calc(100%/3);
}

.margin-right {
    margin-right: 25px;
}

.img {
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.favourite {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    transition: 0.1s;
}

.favourite:hover {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    color: #FF0100;
}

.tags {
    position: absolute;
    color: #fff;
    bottom: 40px;
    font-weight: 800;
}

.discount {
    background-color: #FF0100;
    margin-right: 5px;
    padding: 3px 10px;
    float: left;
}

.sustainability {
    background-color: #048001;
    padding: 3px 10px;
    float: left;
}

/*immagini*/

#foto1 {
    background-image: url(../img/1.webp);
    transition: 0.3s;
}

.product:hover #foto1{
    background-image: url(../img/1b.webp);
}

#foto2 {
    background-image: url(../img/2.webp);
    transition: 0.3s;
}

.product:hover #foto2{
    background-image: url(../img/2b.webp);
}

#foto3 {
    background-image: url(../img/3.webp);
    transition: 0.3s;
}

.product:hover #foto3{
    background-image: url(../img/3b.webp);
}

/*caption*/

.caption {
    margin-top: 5px;
}

.discount-text {
    color: #FF0100;
    font-weight: 800;
}

.discount-linethrough {
    text-decoration: line-through;
    color: #000;
    font-weight: 400;
}